body {
  background-color: #f0f0f0;
}

header {
  background-color: #467bac;
  height: 100%;
  margin-bottom: 2rem;
  padding: 2rem;
}

.column-full > a {
  color: white;
  font-size: 2rem;
  font-family: "Patua One", sans-serif;
}

.card {
  background-color: rgb(217, 217, 217);
}
